/* bestDealForYou section starts */

.bestdealsforyou {
  margin-bottom: 10em;
}

.bestdealsforyou-wrap {
  text-align: center;
  background-color: rgba(17, 209, 184, 0.1);
  padding: 3em;
  border-radius: 10px;
}

.bestdealsforyou-heading {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--text-color);
}

.bestdealsforyou-heading span {
  color: var(--secondary-color);
}

.bestdealsforyou-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  padding: 2em 1em;
}

.bestdealsforyou-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 7px 7px 5px rgba(29, 211, 187, 0.1);
}

.bestdealsforyou-img {
  width: 40%;
}

.bestdealsforyou-info {
  text-align: left;
  margin-left: 0.8em;
}

.bestdealsforyou-subheading {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.bestdealsforyou-p {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(61, 61, 61);
}

/* tab responsiveness starts*/
@media (max-width: 768px) {
  .bestdealsforyou {
    margin-bottom: 6em;
  }

  .bestdealsforyou-heading {
    font-size: 1.4rem;
  }

  .bestdealsforyou-inner {
    grid-gap: 0.8em;
  }

  .bestdealsforyou-section {
    padding: 0.8rem;
  }

  .bestdealsforyou-img {
    width: 40%;
  }

  .bestdealsforyou-info {
    margin-left: 0.5em;
  }

  .bestdealsforyou-subheading {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }

  .bestdealsforyou-p {
    font-size: 0.55rem;
  }
}
/* tab responsiveness ends*/

/* mobile responsiveness starts*/
@media (max-width: 414px) {
  .bestdealsforyou-section {
    padding: 0;
  }

  .bestdealsforyou-wrap {
    padding: 1.5em 0;
  }

  .bestdealsforyou-heading {
    font-size: 2rem;
    margin-bottom: 0.4em;
  }

  .bestdealsforyou-inner {
    grid-gap: 0.8em;
    grid-template-columns: 1fr;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    grid-template-areas:
      "one two"
      "three three";
  }

  .bestdealsforyou-section {
    padding: 1em 0.5em;
    flex-direction: column;
    width: 10em;
  }

  .bestdealsforyou-section-1 {
    grid-area: one;
  }

  .bestdealsforyou-section-2 {
    grid-area: two;
  }

  .bestdealsforyou-section-3 {
    grid-area: three;
  }

  .bestdealsforyou-img {
    width: 3.8em;
    margin-bottom: 1em;
  }

  .bestdealsforyou-info {
    padding: 0;
    flex-direction: column;
    text-align: center;
    width: auto;
  }

  .bestdealsforyou-subheading {
    font-size: 1rem;
    margin-bottom: 0.6em;
  }

  .bestdealsforyou-p {
    word-spacing: 0.1rem;
    font-size: 0.85rem;
    font-weight: 400;
    width: auto;
    margin: 0 auto;
  }
}
/* mobile responsiveness ends*/

/* bestDealForYou section ends */
