/* contactUs section starts */

.contactus {
  width: 100%;
}

.contactus-wrap {
  text-align: center;
}

.contactus-heading {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.8em;
}

.contactus-heading span {
  color: var(--secondary-color);
}

.contactus-inner {
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: rgba(17, 209, 184, 0.1);
}

.contactus-div-form {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 3em;
}

.contactus-form {
  width: 100%;
  background-color: rgb(38, 41, 51);
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 3em;
  border-radius: 5px;
}

.contactus-form-sec {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2em;
}

.contactus-form-label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.4em;
  color: rgb(220, 215, 215);
}

.contactus-form-input {
  height: 2.8em;
  border-radius: 5px;
  border: none;
  background-color: rgb(49, 53, 74);
  color: #fff;
  padding: 0.9rem;
}

.contactus-form-textarea {
  border-radius: 5px;
  border: none;
  background-color: rgb(49, 53, 74);
  color: #fff;
  padding: 0.9rem;
}

.contactus-form-submit {
  width: 30%;
  height: 3em;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: rgb(38, 41, 51);
  border: 2px solid #fff;
  color: #fff;
}

.contactus-form-submit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.contactus-info {
  padding: 3rem;
}

.contactus-p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  word-spacing: 0.2rem;
  margin-block: 3em;
  color: rgb(38, 41, 51);
}

.contactus-social {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.5rem;
  margin: 3em auto;
}

.contactus-social-a {
  margin-bottom: 1.5rem;
  text-decoration: none;
  color: rgb(38, 41, 51);
  display: flex;
  align-items: center;
}

.contactus-social-icon {
  margin-right: 1rem;
  font-size: 2.2rem;
}

/* tab responsiveness starts*/
@media (max-width: 768px) {
  .contactus-heading {
    font-size: 1.4rem;
  }

  .contactus-inner {
    display: grid;
    grid-template-columns: 55% 45%;
  }

  .contactus-div-form {
    padding: 1.5em;
  }

  .contactus-form {
    padding: 1.5em;
    border-radius: 5px;
  }

  .contactus-form-sec {
    margin-bottom: 1em;
  }

  .contactus-form-label {
    font-size: 0.6rem;
    margin-bottom: 0.4em;
  }

  .contactus-form-input {
    height: 2em;
    padding: 0.5rem;
  }

  .contactus-form-textarea {
    padding: 0.5rem;
  }

  .contactus-form-submit {
    height: 2.5em;
    font-size: 0.6rem;
    font-weight: 600;
    border: 1px solid #fff;
  }

  .contactus-form-submit:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
  }

  .contactus-info {
    padding: 1.5rem;
  }

  .contactus-p {
    font-size: 0.8rem;
    line-height: 1.1rem;
    word-spacing: 0.1rem;
    margin: 1.5em auto;
  }

  .contactus-social {
    font-size: 1rem;
    margin: 1.5em auto;
  }

  .contactus-social-a {
    margin-bottom: 1rem;
  }

  .contactus-social-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
}
/* tab responsiveness ends*/

/* mobile responsiveness starts*/
@media (max-width: 414px) {
  .contactus {
    margin-bottom: 0;
    width: 100%;
  }

  .contactus-wrap {
    width: 100%;
  }

  .contactus-heading {
    font-size: 2rem;
    margin-bottom: 1em;
  }

  .contactus-inner {
    grid-template-columns: 100%;
  }

  .contactus-div-form {
    background-color: rgb(38, 41, 51);
    padding: 3em 0;
  }

  .contactus-form {
    width: 90%;
    padding: 3em 0;
  }

  .contactus-form-sec {
    margin-bottom: 2em;
  }

  .contactus-form-label {
    font-size: 0.9rem;
    margin-bottom: 0.4em;
  }

  .contactus-form-input {
    height: 3em;
    padding: 0.9rem;
    font-size: 1.2rem;
  }

  .contactus-form-textarea {
    padding: 0.9rem;
    font-size: 1.2rem;
  }

  .contactus-form-submit {
    height: 3.5em;
    font-size: 0.9rem;
  }

  .contactus-info {
    padding: 3rem 0;
  }

  .contactus-p {
    width: 90%;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    word-spacing: 0.2rem;
    margin: 3em auto;
  }

  .contactus-social {
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin: 3em auto;
  }

  .contactus-social-a {
    margin-bottom: 0;
  }

  .contactus-social-icon {
    margin-right: 0;
    font-size: 2.5rem;
  }

  .contactus-social-p {
    display: none;
  }
}
/* mobile responsiveness ends*/

/* contactUs section ends */
